<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127903497017-f43lro062f23p5o50mhvpvldoppe6jt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127903497017-f43lro062f23p5o50mhvpvldoppe6jt6</string>
	<key>API_KEY</key>
	<string>AIzaSyA4WZM_HvC5xIaKUm589aTg9tRul87VeYU</string>
	<key>GCM_SENDER_ID</key>
	<string>127903497017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduationProject</string>
	<key>PROJECT_ID</key>
	<string>tutor-me-ef780</string>
	<key>STORAGE_BUCKET</key>
	<string>tutor-me-ef780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127903497017:ios:fec39e05d8c999a05a86e8</string>
</dict>
</plist>